.leftSide {
    height: 100%;
    position: fixed;
    background-color: #e7e7e7;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20%;
    overflow-x: hidden;
    padding: 20px 15px;
    box-shadow: 0 0 3px 0 #878787;
}

#navBack {
    width: 60px;
    height: 60px;
    text-align: center;
}

#companyName {
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
}

#addListBtn {
    text-align: center;
    vertical-align: middle;
}

#addListIcon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.myLists {
    margin-top: 50px;
}

